<h1>MENU</h1>

<ul class="list-group">
    {{#each menu}}
        <li class="list-group-item d-flex justify-content-between align-items-center row">
            <div class="col-md-10">
                <a href="/menu/{{this.id}}">
                {{this.nomemenu}}
                </a>
                <!-- <span class="badge badge-danger badge-pill">{{this.count1}}</span> -->
            </div>
            <div class="col-md-2">
            <a href="/menu/{{this.id}}/edit" class="btn btn-success" title="UPDATE">
              <i class="fa fa-pen-alt"></i>
            </a>
            <form method="post" action="/menu/{{this.id}}" name="form{{this.id}}" style="display: inline">
                <input type="hidden" name="_method" value="DELETE">
                <button type="button" onclick="return showConfirmMsg('Delete Menu', 'Sei sicuro di eliminare il Menù?', 'form{{this.id}}')" class="btn btn-danger" title="DELETE">
                    <i class="fa fa-trash-o"></i>
                </button>
            </form>
            </div>
        </li>
    {{/each}}
</ul>