<script>
    async function visualizzaTodo(f) {
        try {
          
        const res = await axios.get('/todo',
            {
                
            }
        );
       {location.href = '/todo'};
        } catch (e) {
            Swal.fire(e.message)
        }
    }

    async function completaTodo(f) {
        const form = document.getElementById('{{this.id}}');
        try {
          
        const res = await axios.patch('/todo/'+form.name,
            {
                nometodo : form.nometodo.value,
                descrizionetodo : form.descrizionetodo.value,
                completatodo: form.btncompleta.value
            }
        );
        Swal.fire({
            type : 'success',
            text : 'Operazione riuscita',
            icon: 'success'
        }).then (() =>{location.href = '/todo'});
        } catch (e) {
            Swal.fire(e.message)
        }
    }
</script>

<h1>VISUALIZZA 
    <small class="text-muted">
        ({{completed completato}})
    </small>
</h1>
<form class="was-validated" name="{{this.id}}" id="{{this.id}}">
    <div class="mb-3">
        <label for="nometodo" class="form-label">Nome Todo</label>
        <textarea class="form-control" id="nometodo" placeholder="Required nome todo" readonly>{{nometodo}}</textarea>
    </div>
    <div class="mb-3">
        <label for="descrizionetodo" class="form-label">Descrizione Todo</label>
        <textarea class="form-control" id="descrizionetodo" placeholder="Required descrizione todo" readonly>{{descrizionetodo}}</textarea>
    </div>

    <div class="mb-3">
        <button value="Indietro" onclick="visualizzaTodo(this); return false" class="btn btn-primary" title="Indietro">
              Indietro
        </button>
        {{#if (isEqual this.completato 0)}}
        <button onclick="completaTodo(this); return false" class="btn btn-danger" id="btncompleta" name="btncompleta" value="1" title="Completa">
              Completa
        </button>
        {{else}}
        <button onclick="completaTodo(this); return false" class="btn btn-danger" id="btncompleta" name="btncompleta" value="0" title="Completa">
              Riapri
        </button>
        {{/if}}
    </div>
</form>