<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.4.0/css/select.dataTables.min.css">

<h1>LISTA BOLLE DOGANALI EXPORT</h1>
<h2>Dettaglio</h2>
<p></p>
<table id="lista_bolle_doganali_export" class="display nowrap" style="width:100%">
        <thead>
           <tr>
              <th rowspan="2">S</th>
              <th colspan="3">Registrazione</th>
              <th rowspan="2">Tipo</th>
              <th colspan="3">Bolla</th>
            </tr>
            <tr>
              <th>Anno</th>
              <th>Numero</th>
              <th>Progressivo</th>
              <th>Numero</th>
              <th>Data</th>
              <th>Tipologia</th>
              <th>Cntr</th>
              <th>Mrn</th>
            </tr>
        </thead>
        <tbody>
            {{#each bolla}}
            <tr>
              <td></td>
              <td>{{this.LAARE0}}</td>
              <td>{{this.LANRE0}}</td>
              <td>{{this.LAPRE0}}</td>
              <td>{{this.LATBO0}}</td>
              <td>{{this.LABNR0}}</td>
              <td>{{this.LABDT0}}</td>
              <td>{{this.LABTI0}}</td>
              <td>{{this.LACTR0}}</td>
              <td>{{this.LAMRN0}}</td>
            </tr>
            {{/each}}
        </tbody>
        <!--<tfoot>
            <tr>
              <th>S</th>
              <th>Anno reg.</th>
              <th>Nr. reg.</th>
              <th>Prg. reg.</th>
              <th>Tipo bolla</th>
              <th>Numero</th>
              <th>Data</th>
              <th>Tipologia</th>
              <th>Cntr</th>
              <th>Mrn</th>
            </tr>
        </tfoot>-->
    </table>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>

    <script>
      $(document).ready(function() {
          var table = $('#lista_bolle_doganali_export').DataTable( {
              dom: 'Bfrtip',
              buttons: [
                  'copy', 'csv', 'excel', 'pdf', 'print'
              ],
              columnDefs: [ {
                orderable: false,
                className: 'select-checkbox',
                targets:   0
                },
                ],
              select: {
              style:    'os',
              selector: 'td:first-child'
              },
              rowCallback: function(row, data, index){
                $(row).find('td:eq(1)').css('color', 'blue');
                $(row).find('td:eq(2)').css('color', 'blue');
                $(row).find('td:eq(4)').css('color', 'red');
                $(row).find('td:eq(5)').css('color', 'green');
            }
          } );

          $('#lista_bolle_doganali_export tbody').on('click', 'button', function () {
            var data = table.row($(this).parents('tr')).data();
            alert(data[5]);
          });
      } );
    </script>